/* body {
  background-image: url(img/IMG_1024.JPG); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: white;
  font-size: 30px;
  font-weight: bold;
} */
